.App {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (min-width: 720px) {
    .App {
        min-height: 100vh;
    }
    .navSec {
        min-width: 915px;
    }
    .main {
        width: 915px;
    }
    .trend {
        width: 915px;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.trend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
