* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  --softOrange:       hsl(35, 77%, 62%);
  --softRed:          hsl(5, 85%, 63%);
  --offWhite:         hsl(36, 100%, 99%);
  --grayishBlue:      hsl(233, 8%, 79%);
  --darkGrayishBlue:  hsl(236, 13%, 42%);
  --veryDarkBlue:     hsl(240, 100%, 5%);
}
p {
  font-size: 93.75%;
}
@font-face {
  font-family: "Bold";
  src: local("Inter-Bold"), url(./assets/fonts/static/Inter-Bold.ttf);
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: "ExtraBold";
  src: local("Inter-ExtraBold"), url(./assets/fonts/static/Inter-ExtraBold.ttf);
  font-weight: 800;
  font-display: fallback;
}
@font-face {
  font-family: "Regular";
  src: local("Inter-Regular"), url(./assets/fonts/static/Inter-Regular.ttf);
  font-weight: 400;
  font-display: fallback;
}